{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-linear-60 from-gray-900 via-gray-800 to-black">
  <img src="{% static 'images/logo.png' %}" alt="logo semda fundacion" class="w-40 h-16 mx-auto">
  <h1 class="text-white text-center text-3xl"> 📧 Envió de enlace para recuperación de contraseña</h1>
  <p class="text-gray-200 md:w-2xl text-2xl mt-3 text-center">
    Si el correo ingresado en el paso anterior existe en la base de datos, se enviará un enlace para recuperar tu contraseña.
  </p>
</div>
{% endblock %}
